@model PagedList.IPagedList<Model.eBookData.Book>
@using PagedList.Mvc;
@using eBookManager.Common;
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var account = (Model.eBookData.Account)Session["CurrentAccount"];
}
<h2 class="margin-bot-20" style="text-align:center">Danh sách Tài liệu trong thư viện</h2>
@using (Html.BeginForm("GetAllBooks", "Book", FormMethod.Get))
{
    <input type="text" value="@ViewBag.SearchString" class="form-control" name="search" style="width:300px;float:left;margin-right:15px" placeholder="Tìm theo mã sách hoặc tên sách" />
    <button type="submit" class="btn btn-success">Tìm kiếm</button>
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã sách</th>
            <th>Tên sách</th>
            <th>Tác giả</th>
            <th>Loại sách</th>
            <th>Nhà xuất bản</th>
            <th>Ghi chú</th>
            <th style="text-align:center">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count; i++)
            {
                var item = Model[i];
                if (account.Role != "admin")
                {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@item.BookCode</td>
                    <td>@item.BookName.</td>
                    <td>@item.BookAuthor</td>
                    <td>@item.BookType</td>
                    <td>@item.BookPublisher</td>
                    <td>@item.BookNote</td>
                    <td>
                        <a class="btn btn-success" onclick="openPopupBorrowBook(@item.Id)">Mượn sách</a>
                        <a class="btn btn-danger" onclick="openPopupReturnBook(@item.Id)">Trả sách</a>
                    </td>
                </tr>
                //break;
            }
            else
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@item.BookCode</td>
                    <td>@item.BookName</td>
                    <td>@item.BookAuthor</td>
                    <td>@item.BookType</td>
                    <td>@item.BookPublisher</td>
                    <td>@item.BookNote</td>
                    <td>
                        <a class="btn btn-primary" href="/Book/EditBook?bookId=@item.Id">Sửa</a>
                    </td>
                    <td style="text-align:center">
                            <a class="btn btn-success" onclick="openPopupQRCode(@item.Id)">QRCODE</a>
                        <a class="btn btn-success" onclick="openPopupBorrowBook(@item.Id)">Mượn sách</a>
                        <a class="btn btn-danger" onclick="openPopupReturnBook(@item.Id)">Trả sách</a>
                        <div hidden class="qrcode-@item.Id">@Html.GenerateQrCode(@item.BookCode + "--" + @item.BookName)</div>
                    </td>
                    <div class="modal fade" id="showQrCode-@item.Id" tabindex="-1" role="dialog" aria-labelledby="showQrCodeLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabe2">Mã QR CODE</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div style="text-align:center">@Html.GenerateQrCode(@item.BookCode + "--" + @item.BookName)</div>
                            </div>
                        </div>
                    </div>
                </tr>
            }

        }

    </tbody>
    @Html.PagedListPager(Model, page => Url.Action("GetAllBooks", new { page, @search = @ViewBag.SearchString }))
</table>
<div class="modal fade" id="borrowBook" tabindex="-1" role="dialog" aria-labelledby="borrowBookLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn mượn cuốn sách này?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Chọn đồng ý nếu bạn muốn mượn.</div>
            <input hidden id="bookId" />
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                <a class="btn btn-primary" onclick="borrowBook()">Đồng ý</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="returnBook" tabindex="-1" role="dialog" aria-labelledby="returnBookLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Bạn có muốn trả cuốn sách này?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Chọn đồng ý nếu bạn muốn trả.</div>
            <input hidden id="bookId" />
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                <a class="btn btn-primary" onclick="returnBook()">Đồng ý</a>
            </div>
        </div>
    </div>
</div>
<script>
    function openPopupBorrowBook (id){
        $('#borrowBook').modal('show');
        $('#bookId').val(id);
    }
    function borrowBook() {
        debugger
        var bookId = $('#bookId').val();
        $.ajax({
            type: "POST",
            url: '/Book/BorrowBook',
            data: {
                bookId: bookId
            },
            dataType: "json",
            success: function (response) {
                $('#borrowBook').modal('hide');

                setTimeout(function(){
                    alert(response);
                }, 500);
            },
            error: function (error) {

            }
        });
    }

    function openPopupReturnBook (id){
        $('#returnBook').modal('show');
        $('#bookId').val(id);
    }
    function returnBook() {
        var bookId = $('#bookId').val();
        $.ajax({
            type: "POST",
            url: '/Book/PayBook',
            data: {
                bookId: bookId
            },
            dataType: "json",
            success: function (response) {
                $('#returnBook').modal('hide');

                setTimeout(function(){
                    alert(response);
                }, 500);
            },
            error: function (error) {

            }
        });
    }

    function openPopupQRCode(id) {
        $('#showQrCode-'+id).modal('show');
    }
</script>