@model Model.eBookData.Account
@{
    ViewBag.Title = "EditAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var account = (Model.eBookData.Account)Session["CurrentAccount"];
}

<h2 class="margin-bot-20" style="text-align:center">Thông tin người dùng</h2>

    <div class="col-lg-12 margin-bot-20">
        <div class="col-lg-6"><label class="pull-right pad-top-8">Tên Đăng nhập :</label></div>  
        <div class="col-lg-1"><label class="pull-right pad-top-8">@Model.UserName</label></div>    
    </div>
    <div class="col-lg-12 margin-bot-20">
        <div class="col-lg-6"><label class="pull-right pad-top-8">Họ và tên :</label></div>
        <div class="col-lg-1"><label class="pull-right pad-top-8">@Model.Name</label></div>
    </div>
    <div class="col-lg-12 margin-bot-20">
        <div class="col-lg-6"><label class="pull-right pad-top-8">Địa chỉ email :</label></div>
        <div class="col-lg-1"><label class="pull-right pad-top-8">@Model.Email</label></div>
    </div>
    <div class="col-lg-12 margin-bot-20">
        <div class="col-lg-6"><label class="pull-right pad-top-8">Địa chỉ :</label></div>
        <div class="col-lg-1"><label class="pull-right pad-top-8">@Model.Address</label></div>
    </div>
    <div class="col-lg-12 margin-bot-20">
        <div class="col-lg-6"><label class="pull-right pad-top-8">Lớp học :</label></div>
        <div class="col-lg-1"><label class="pull-right pad-top-8">@Model.ClassId</label></div>
    </div>
    <div class="col-lg-12 margin-bot-20">
        <div class="col-lg-6"><label class="pull-right pad-top-8">Quyền tài khoản :</label></div>
        <div class="col-lg-1"><label class="pull-right pad-top-8">@Model.Role</label></div>
    </div>
    <div class="col-lg-12 margin-bot-20">
        <div class="col-lg-5"><label class="pull-right pad-top-8"></label></div>
        <a href="/Account/EditAccount/?accountId=@account.Id" class="btn btn-success">Cập nhật tài khoản</a>
    </div>
